# osx noise
.DS_Store
profile

# xcode noise
build/*
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata

# svn & cvs
.svn
CVS

#Eagle
# Backup files
*.s#?
*.b#?
*.l#?
*.b$?
*.s$?
*.l$?
*.s#*
*.b#*
# Autorouter files
*.pro
*.job

# KiCad
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*.kicad_prl
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache
*.net
KiCad PCBs/*/*-backups/
*-backups/